body{
    margin: 0;
    padding: 0;
    background-color: #bcbcbc;
}

#gameContainer{
    width: 100%;
    position: relative;
}
canvas{
    border: 2px solid black;
    margin: 10px auto;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    
}